<body>
  
<div class="container" style="background-color: #CCD1D1       ;">

  <div class= "card" *ngFor="let producto of producto">
    <img src="assets/images/logo.jpeg" alt="">
       <h4>{{ producto.nombre }}</h4> 
        <p>{{ producto.descripcion }}</p>
       <p>{{ producto.precio | currency: 'USD' | lowercase }}</p> 
       <p>{{ producto.marca }}</p> 
       <div class="center">
       <button type="button" class="center">Añadir</button>
       </div>
      </div>
      
    </div>

</body>