 <nav class="navbar navbar-expand navbar-dark bg-dark">
  <a href="index.html" class="navbar-brand" style="height: 50px">{{ title }}</a>
  <button
    type="button"
    class="navbar-toggler"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div
    class="collapse navbar-collapse"
    style="width: 100px"
    id="navbarSupportedContent"
  >
    <!-- <form class="d-flex" role="search">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form> -->
  </div>
  <a [routerLink]="['/carrito']">
    <i
      class="bx bx-cart"
      style="width: 100px; font-size: 40px; color: #fffcfc"
    ></i
  ></a>
</nav>
 