
h1{
    font-weight: bold;
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
.mat-form-field {
font-weight: 800;
line-height: 2;
margin-left: 50px;
}



